<% content_for :title do %>
  <%= @author.name %>
<% end %>

<h1><%= @author.name %></h1>

<div class="author-meta">
  <div class="bio"><%= textilize(@author.bio).html_safe %></div>
</div>

<section id="stories">
  <h2>Stories (<%= @stories.count %>)</h2>
<% if @stories.empty? %>
  <p><%= @author.name %> didn't publish any stories.</p>
<% else %>
  <ul class="object-list stories-list">
  <% @stories.each do |story| %>
    <%= render partial: "stories/story_list_item", locals: { story: story } %>
  <% end %>
  </ul>
<% end %>
</section>

<section id="challenges">
  <h2>Challenges (<%= @challenges.count %>)</h2>
<% if @challenges.empty? %>
  <p><%= @author.name %> didn't create any challenges.</p>
<% else %>
  <ul class="object-list challenges-list">
  <% @author.challenges.each do |challenge| %>
    <%= render partial: "challenges/challenge_list_item", locals: { challenge: challenge } %>
  <% end %>
  </ul>
<% end %>
</section>
