<% content_for :title do %>
Comments on <%= @story.title %>
  <% if @story.user %>by <%= @story.user.name %><% end %>
<% end %>

<h1>Comments on <%= link_to @story.title, story_path(@story.id) %>
<% if @story.user %>by <%= link_to @story.user.name, author_path(@story.user.uri_name) %><% end %></h1>

<div id="comments">
  <ul>
  <% @comments.each do |comment| %>
    <% next if comment.body.strip.blank? || comment.user.nil? %>
    <%= render partial: "shared/comment", locals: { comment: comment, story: @story } %>
  <% end %>
  </ul>
</div>
