<% content_for :title do %>
  <%= @story.title %>
  <% if @story.user %>
    by <%= @story.user.name %>
  <% end %>
  on Ficly
<% end %>

<article class="story">
  <h1><%= @story.title %></h1>
  <% if @story.user %>
  <aside class="author-meta">
    <% if @story.user.icon %>
      <div class="icon-container">
        <%= image_tag @story.user.icon.url, class: "avatar", alt: "" %>
      </div>
    <% end %>
    <div class="author-mini-bio">
      <p>Author: <%= link_to @story.user.name, author_path(@story.user.uri_name), rel: "me" %></p>
      <p class="bio">
        <%= @story.user.bio_snippet %>
        <%= link_to "Read bio", author_path(@story.user.uri_name), rel: "me" %>
      </p>
    </div>
  </aside>
  <% end %>
  <aside class="story-meta">
    <p class="published">Published on <abbr class="date" title="<%= @story.published_at.to_s %>"><%= @story.display_published_at %></abbr></p>
    <% if @story.clean_average_rating > 0 %>
      <p class="rating" data-ratings="<%= @story.ratings_count %>" data-average-rating="<%= @story.average_rating %>">
        Average Reader Rating (rated <%= pluralize(@story.ratings_count, "time") %>)
        <span class="pencils">
          <% @story.clean_average_rating.times do |i| %>
            <%= image_tag "average-rating-pencil.gif", class: "average-rating" %>
          <% end %>
        </span>
      </p>
    <% end %>
    <% if @story.challenges_won.any? %>
    <div class="challenges-won">
      <p>This story <em>won</em> the following challenges:</p>
      <ul class="challenges-list">
      <% @story.challenges_won.each do |challenge| %>
        <%= render partial: "challenges/challenge_list_item", locals: { challenge: challenge } %>
      <% end %>
      </ul>
    </div>
    <% end %>
    <% if @story.challenges.any? %>
    <div class="challenges">
      <p>This story was entered in the following challenges:</p>
      <ul class="challenges-list">
      <% @story.challenges.each do |challenge| %>
        <%= render partial: "challenges/challenge_list_item", locals: { challenge: challenge } %>
      <% end %>
      </ul>
    </div>
    <% end %>
  </aside>
  <div class="story-body">
    <%= @story.to_html.html_safe %>
  </div>
</article>

<section class="prequels-and-sequels">
  <nav class="prequels">
    <h3>Prequels</h3>
    <% if @story.prequels.empty? %>
      <p><strong>Oh no!</strong> This story doesn't have any prequels.</p>
    <% else %>
      <ul class="object-list stories-list">
      <% @story.prequels.each do |story| %>
        <%= render partial: "story_list_item", locals: { story: story } %>
      <% end %>
      </ul>
    <% end %>
  </nav>

  <nav class="sequels">
    <h3>Sequels</h3>
    <% if @story.sequels.empty? %>
      <p><strong>Oh no!</strong> This story doesn't have any prequels.</p>
    <% else %>
      <ul class="object-list stories-list">
      <% @story.sequels.each do |story| %>
        <%= render partial: "story_list_item", locals: { story: story } %>
      <% end %>
      </ul>
    <% end %>
  </nav>
</section>

<section class="comments" data-comments-count="<%= @story.comments.count %>">
  <% if @story.comments.any? %>
    <%= link_to comments_story_path(@story.id) do %>
      View this story's <%= pluralize(@story.comments.count, "comments") %>.
    <% end %>
  <% else %>
    This story has no comments.
  <% end %>
</section>
